body {
  font-family: Arial;
  direction: rtl;
  margin: 0;
  background: linear-gradient(#FFF8E7, #f5e6c8);
}

/* هيدر */
.nav {
  background: #C9A420;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* عنوان */
.title {
  padding: 10px;
}

/* منتجات */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* زر */
.primary {
  background: #C9A420;
  color: white;
  padding: 16px;
  border: none;
  width: 100%;
  border-radius: 12px;
  font-size: 18px;
}

.big-btn {
  font-size: 20px;
}

/* صورة المنتج */
.product-img {
  width: 90%;
  display: block;
  margin: auto;
}

/* Drawer */
.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 85%;
  max-width: 350px;
  height: 100%;
  background: white;
  transition: 0.3s;
  z-index: 999;
}

.cart-drawer.open {
  right: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}

/* عناصر السلة */
.cart-item {
  display: flex;
  gap: 10px;
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.cart-item img {
  width: 60px;
}

/* toast */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
}

.toast.show {
  opacity: 1;
}

/* فورم */
.container {
  padding: 15px;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.total-box {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}
