body {
  font-family: Arial;
  direction: rtl;
  margin: 0;
  background: #FFF8E7;
}

.nav {
  background: #C9A420;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 15px;
  padding: 15px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
}

button.primary {
  background: #C9A420;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
}

.product-img {
  width: 80%;
  display: block;
  margin: auto;
}

.cart-item {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
